<h2>Question <%= @position+1 %> of <%= @questions_ids.length %></h2>
<div id="test_box">
  <%= form_tag('/check_answer') do %>
  <div id="question_container" class="question_container">
  </div>
    <br><%= submit_tag "submit answer", class: "submit_button" %>
  <% end %>
</div>
<script type="text/template" id="question_tpl">
  <div id="test">
    <h3><%%= question %></h3>
    <%% _.each(choices, function(choice){ %>
      <input type="radio" name="choices" value="<%%= choice.letter%>"><span><%%= choice.content%></span><br>
    <%% })%>
  </div>
</script>
